header{
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(192,238,227,1) 100%);
}
h1{
    text-align: center;
    padding: 0px 0px 20px;
    /* font-family: 'Raleway', sans-serif; */
}
nav{
    text-align:end;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 15px 5px;
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links a{
    background-color:rgb(150, 243, 243);
    padding: 7px;
    border-radius: 20px;
    text-decoration: none;
}
body{
    background-color: rgba(255, 99, 71, 0.801);
}
main{
    background-color: beige;
    min-height: 580px;
}
.mainreceta{
    background-color: beige;
    display: flex;
}
h2{
    padding: 20px 30px; 
}
.titulo{
    padding:30px;
}
p{
    font-size:x-large;
}
.lista,ol{
    padding:0px 50px;
}
.imagenindex{
    padding:10px 100px 20px 100px;
    display: flex;
    justify-content: center;
}
.imagen{
    padding:50px 100px;
}
.button{
    display: flex;
    justify-content: center;
    padding:5px 10px 30px 10px;
}
button{
    font-size: large;
    padding:8px;
    background-color:rgb(150, 243, 243);
    
}
button a{
    text-decoration: none;
}
div p{
    padding: 10px 30px;  
    font-size:large;
}
footer{
    background: rgb(187,245,243);
    background: linear-gradient(90deg, rgba(187,245,243,1) 27%, rgba(145,199,241,1) 100%);
    display: flex;
    justify-content:space-around;
    margin: 25px 0px;
}
.foot{
    text-align: center;
}
#leyenda{
    font-size:larger;
}
.leyenda{
    font-size: small;
}
.redes{
    margin:90px 0px ;
}
.redes a{
    padding: 10px;
    color:black;
}
